/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */
/********************
General
*/
html {
  font-size: 100%; }

body {
  margin: 0;
  padding: 0; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0; }

.title {
  font-family: "passion one";
  font-size: 4em;
  font-weight: normal;
  color: #fdcb46; }

a {
  text-decoration: none;
  color: inherit; }

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #579c87;
  color: #fdcb46;
  font-family: "passion one";
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px; }

.footer {
  font-size: 1.2em;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: normal; }

.prochainement {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "passion one";
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  padding: 15px;
  border-radius: 15px; }

/******************
Animations
*/
.footer:hover {
  -webkit-animation: shake 0.5s;
  animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.prochainement:after {
  display: inline-block;
  -webkit-animation: suspension steps(1, end) 1s infinite;
  animation: suspension steps(1, end) 1s infinite;
  content: ''; }

@-webkit-keyframes suspension {
  0% {
    content: ''; }
  25% {
    content: '.'; }
  50% {
    content: '..'; }
  75% {
    content: '...'; }
  100% {
    content: ''; } }
@keyframes suspension {
  0% {
    content: ''; }
  25% {
    content: '.'; }
  50% {
    content: '..'; }
  75% {
    content: '...'; }
  100% {
    content: ''; } }
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }
@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }
/*zoom animation*/
.img-hover-zoom {
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px #888888;
  box-shadow: 0 0 10px #888888; }

.img-hover-zoom img {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  -o-transition: transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease; }

.img-hover-zoom:hover img {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
  opacity: 0.7; }

/*underline animation */
.container__courses--underline {
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-family: 'Courgette';
  font-weight: normal;
  font-style: italic; }

.container__courses--underline:after {
  display: block;
  content: '';
  border-bottom: solid 2px #000;
  opacity: 0.6;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%; }

.container__courses--underline:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%; }

/* menu pages */
.container__img-note {
  width: 5em;
  height: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: -1.5em;
  margin-top: 2em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: yellow; }

.container__menu-title {
  text-align: center;
  font-family: 'passion one';
  font-size: 2em; }

#container__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-bottom: 100px; }

#container__menu-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 60px; }

.container__courses {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: normal; }

.container__courses--m2 {
  text-align: center;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.container__menu-name {
  font-family: "Alex Brush", cursive;
  text-align: center;
  font-weight: bold; }

.container__menu-name--m2 {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 35px; }

.container__menu-items {
  font-family: 'Titillium Web', sans-serif;
  text-align: left;
  margin-left: 20px; }

.container__courses--m1 {
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  font-weight: bold; }

.container__menu-items--cursive {
  font-family: 'Courgette', sans-serif;
  text-align: left;
  margin-left: 20px;
  font-weight: normal; }

.container__courses--lines-left {
  width: 6.2em;
  float: left;
  margin-left: 3px; }

.container__courses--lines-right {
  width: 6.2em;
  float: right;
  margin-right: 3px; }

.container__courses--lines-right-m3 {
  width: 6.2em;
  height: 0.9em;
  float: right;
  margin-right: 3px; }

.container__img-note {
  width: 2.6em;
  height: auto;
  margin-top: 15px; }

.price {
  float: right;
  margin-right: 10px;
  font-weight: bold; }

.mention-legales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: justify;
  margin-left: 35px;
  margin-right: 35px; }

#mention-legales {
  text-align: center;
  font-family: 'passion one';
  font-size: 1.5em; }

img {
  width: 100%;
  height: auto; }

li {
  list-style-type: none; }

ul {
  margin-left: -50px; }

/*************************
Colors
*/
/*Background-colors*/
.container__menu-page--back-color-m1 {
  background-color: #fcdfdb;
  color: #3d1319; }

.container__menu-page--back-color-m2 {
  background-color: #fff5fe; }

.container__menu-page--back-color-m3 {
  background-color: #edefef; }

.container__menu-page--back-color-m4 {
  background-color: #fdfffd; }

#container__grid3 {
  background-color: #fcdfdb; }

#container__grid4 {
  background-color: #fff5fe; }

#container__grid6 {
  background-color: #edefef; }

#container__grid7 {
  background-color: #fdfffd; }

/* Multicolor menu title */
.container__menu-name--m1-color {
  color: #3d1319; }

.container__menu-name--m2-color {
  background: -webkit-gradient(linear, left top, right top, from(#db8528), color-stop(#cb7c56), color-stop(#c07674), color-stop(#9e64d5), to(#8f5bfe));
  background: -o-linear-gradient(left, #db8528, #cb7c56, #c07674, #9e64d5, #8f5bfe);
  background: linear-gradient(to right, #db8528, #cb7c56, #c07674, #9e64d5, #8f5bfe);
  -webkit-background-clip: text;
  color: transparent; }

.container__menu-name--m3-color {
  background: -webkit-gradient(linear, left top, right top, from(#022ddf), color-stop(#044de9), color-stop(#0665f0), color-stop(#0885fa), color-stop(#0889fb), to(#088dfd));
  background: -o-linear-gradient(left, #022ddf, #044de9, #0665f0, #0885fa, #0889fb, #088dfd);
  background: linear-gradient(to right, #022ddf, #044de9, #0665f0, #0885fa, #0889fb, #088dfd);
  -webkit-background-clip: text;
  color: transparent; }

.container__menu-name--m4-color {
  background: -webkit-gradient(linear, left top, right top, from(#41963c), color-stop(#65b44f), color-stop(#80cb5e), color-stop(#9ce26d), color-stop(#b8fa7c), to(#beff7f));
  background: -o-linear-gradient(left, #41963c, #65b44f, #80cb5e, #9ce26d, #b8fa7c, #beff7f);
  background: linear-gradient(to right, #41963c, #65b44f, #80cb5e, #9ce26d, #b8fa7c, #beff7f);
  -webkit-background-clip: text;
  color: transparent; }

.container__courses--entree-m2-color {
  color: #c67412; }

.container__courses--plat-m2-color {
  color: #a56799; }

.container__courses--dessert-m2-color {
  color: #6e4ccc; }

/* iPhone 5/SE Styles */
@media only screen and (min-width: 300px) and (max-width: 330px) {
  header {
    margin-bottom: 25px; }

  #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    width: 85%;
    margin: auto; }

  .container__menu {
    margin-top: 55px; }

  .prochainement {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 50px;
    width: 60%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

  #container__grid4, #container__grid3, #container__grid6, #container__grid7 {
    margin-top: 50px; }

  /*for menu-page */
  #container__menu-page {
    border-radius: 10px;
    width: 85%;
    margin: auto; }

  .container__menu-name {
    font-size: 1.3em; }

  .container__menu-name--m2 {
    font-size: 1.3em; }

  .container__menu-title {
    font-size: 1.8em; }

  .container__courses {
    font-size: 0.70em; }

  .container__courses--m2 {
    font-size: 0.7em; }

  .container__menu-items, .container__menu-items--cursive {
    font-size: 0.45em; } }
/* Mobile Styles */
@media only screen and (min-width: 330px) and (max-width: 500px) {
  header {
    margin-bottom: 25px; }

  #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    width: 85%;
    margin: auto; }

  .prochainement {
    margin-bottom: 100px;
    margin-top: 50px;
    margin-left: 60px;
    width: 60%;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

  #container__grid4, #container__grid3, #container__grid6, #container__grid7 {
    margin-top: 50px; }

  /*for menu-page */
  #container__menu-page {
    width: 90%; }

  .container__menu-name {
    font-size: 1.8em; }

  .container__menu-name--m2 {
    font-size: 1.4em; }

  .container__courses {
    font-size: 0.9em; }

  .container__courses--m2 {
    font-size: 0.8em; }

  .container__courses--m1 {
    font-size: 0.9em; }

  .container__menu-items, .container__menu-items--cursive {
    font-size: 0.6em; } }
/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
  #container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 45px 35% 45px 35% 45px auto;
    grid-template-columns: auto 35% 35% auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin-bottom: 10px;
    margin-top: -25px;
    border-radius: 10px;
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    justify-items: center; }

  #container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }

  #container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3; }

  #container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5; }

  #container > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7; }

  .container__grid {
    text-align: center; }

  #container__grid1, #container__grid8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    padding: 2em; }

  #container__grid2, #container__grid5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4; }

  #container__grid5 {
    -ms-grid-column: 4;
    grid-column: 4 / 4; }

  #prochainement {
    background-color: #579c87;
    width: 300px;
    border-radius: 15px;
    margin-top: 0;
    margin-bottom: 100px; }

  .footer {
    font-size: 1.7em; }

  h1 {
    font-size: 4em; }

  /*for menu-page */
  #container__menu-page {
    border-radius: 10px;
    width: 90%;
    margin-bottom: 6em;
    padding-bottom: 3em; }

  .container__menu-name {
    font-size: 3.5em; }

  .container__menu-name--m2 {
    font-size: 3em; }

  .container__menu-title {
    font-size: 3em; }

  .container__courses {
    font-size: 1.8em; }

  .container__courses--m1 {
    font-size: 3.5vw; }

  .container__courses--m2 {
    font-size: 1.5em; }

  .container__menu-items, .container__menu-items--cursive {
    font-size: 1.2em; }

  .container__courses--lines-left {
    width: 26vw;
    margin-left: 5px; }

  .container__courses--lines-right {
    width: 26vw;
    margin-right: 5px; }

  .container__courses--lines-right-m3 {
    width: 26vw;
    margin-top: 6px;
    margin-right: 5px; }

  .price {
    margin-right: 2.5vw; }

  ul {
    margin-left: -3em; }

  .container__img-note {
    width: 7em;
    height: auto;
    margin-top: 20px; } }
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  #container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 65px 28% 65px 28% 65px auto;
    grid-template-columns: auto 28% 28% auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    margin-bottom: 3.5em;
    margin-top: -3.5em;
    border-radius: 10px;
    grid-row-gap: 65px;
    grid-column-gap: 65px;
    justify-items: center; }

  #container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }

  #container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3; }

  #container > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5; }

  #container > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7; }

  .container__grid {
    text-align: center; }

  #container__grid1, #container__grid8 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    padding: 2em; }

  #container__grid2, #container__grid5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4; }

  #container__grid5 {
    -ms-grid-column: 4;
    grid-column: 4 / 4; }

  #prochainement {
    background-color: #579c87;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    margin-top: -1.5em;
    margin-bottom: 3.5em;
    font-size: 1.5em; }

  .container__img-note {
    width: 7em;
    height: auto;
    margin-top: 20px; }

  /*for menu-page */
  .container__menu-title {
    font-size: 3em; }

  #container__menu-page {
    border-radius: 10px;
    width: 70vw;
    margin-bottom: 50px;
    padding-bottom: 3em; }

  .container__menu-name {
    font-size: 4.2vw; }

  .container__menu-name--m2 {
    font-size: 3.2vw; }

  .container__courses {
    font-size: 1.7em; }

  .container__courses--m2 {
    font-size: 1.9vw; }

  .container__courses--m1, .container__courses--underline {
    font-size: 2.2vw; }

  .container__menu-items, .container__menu-items--cursive {
    font-size: 1.3vw; }

  .container__courses--lines-left {
    width: 20vw;
    margin-left: 20px; }

  .container__courses--lines-right {
    width: 20vw;
    margin-left: 20px; }

  .container__courses--lines-right-m3 {
    width: 20vw;
    margin-top: 6px;
    margin-right: 20px; }

  .price {
    margin-right: 40px; }

  ul {
    margin-left: -30px; } }

/*# sourceMappingURL=style.css.map */
