

body{
	margin: 0;
	padding: 0;
}
h1{
	color: rgb(253,203,70);
	font-family: 'passion one' ;
	font-size: 52px;
	font-weight: normal;
}	
.footer{
	color: rgb(253,203,70);
	font-family: 'passion one' ;
	font-size: 30px;
	margin-left: 25px;
	margin-right: 25px;
	font-weight:normal;
}
.prochainement{
	color: rgb(253,203,70);
	font-family: 'passion one' ;
	font-size: 30px;
	margin-left: 23%;
	margin-right: 25px;
	font-weight:normal;
	text-align: left;
	
}

.prochainement:after{
	display: inline-block;
	animation: suspension steps(1,end) 1s infinite;
	content: '';
}

@keyframes suspension{
	0% {content: '';}
	25%  { content: '.'; }
    50%  { content: '..'; }
    75%  { content: '...'; }
    100% { content: ''; }
}


header {
	display: flex;
	background-color: rgb(87,156,135);
	justify-content: center;
}

a {
	text-decoration: none;
	color:inherit;
}

#footer{
	display: flex;
	background-color: rgb(87,156,135);
	justify-content: space-between;
	position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}
.footer:hover{
	animation:shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
  0%  { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.menu{
	-moz-box-shadow: 0 0 10px #888888;
	-webkit-box-shadow: 0 0 10px #888888;
	box-shadow: 0 0 10px #888888;

}
/*for menu pages*/
.title{
	color: black;
	font-family: 'passion one' ;
	font-size: 3em;
	text-align: center;
	font-weight: normal;
	}

/*for menu pages*/
.menu-title{
	color: black;
	font-family: 'passion one' ;
	font-size: 1.5em;
	font-weight: normal;
}

/*zoom animation*/
.img-hover-zoom{
	overflow: hidden;
	box-shadow: 0 0 10px #888888;
}

.img-hover-zoom img{
	transition: transform 1s ease;
}

.img-hover-zoom:hover img{
	transform: scale(1.25);
	opacity: 0.7;
}


@media only screen and (min-width: 350px) and (max-width: 500px) { /* Mobile Styles */
	.container{
		display: flex;
		text-align: center;
		flex-direction: column;
		margin-left:10vw;
		margin-right: 10vw;
    	margin-top: 10vh;
    	margin-bottom: 18vh;
	}
	#prochainement{
		background-color: rgb(87,156,135);
		width: 300px;
		padding: 15px;
		border-radius:15px;
  		margin-top: -15px;
	}  
	img {
		width: 100%;
		max-height: auto;
		}

	.img-hover-zoom{
		margin-bottom: 2em;
	}
	#header, {
		margin: 0;
	}

	.grid8{
		margin-top: 3em;
		justify-content: center;
	}
		 /*for menu-page */
	
	
	.mention-legales{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 20%;
		margin-right: 20%;
		text-align: justify;
	}

	li{
		list-style-type:none;
		margin-left: 2em;
	}
	
	#container-p1-menu1{
		display: flex;
  		border-radius: 10px;
  		flex-direction: column;
  		align-items: center;
  		background-color:rgb(252, 223, 219);
  		width: 95%;
  		text-align: center;
  		justify-content: center;
  		margin:auto;
  		margin-top: 2em;
  		margin-bottom: 10em;
  		padding-top:3em;
  		padding-bottom: 3em;
	}

	.menu-title{
		text-align: center;
	}
		
	.menu-title1{
		font-family: 'Zhi Mang Xing', cursive;
		text-align: center;
		font-size: 2em;
		background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.menu-items{
		font-family: 'Titillium Web', sans-serif;
		width: 85vw;
		align-items: center;
		margin-bottom: 3em;
		
	}
	.menu-course{
		text-align: center;
		font-size: 0.8em;
		font-weight: bold;	
		display: flex;
		justify-content: space-between;
	}


	.lines-left{
		max-width:5em;
		float: left;
		align-content:left;
	}

	.lines-right{
		max-width:5em;
		float: right;
	}

	.menu-list{
		font-size: 0.7em;
		text-align: left;
	}
	.price{
		float: right;
		margin-right: 1em;
		font-weight: bold;
	}

	ul{
		margin-left: -3em;
	}

}


/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
	.container{
		display: grid;
		grid-template-columns: auto 35% 35% auto;
    	grid-template-rows:  auto;
    	margin-bottom: 60px;
    	margin-top: -25px;
  		border-radius: 10px;
  		grid-column-gap: 45px;
  		grid-row-gap: 25px;
  		justify-items: center;
	}
	
	.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8{
		  text-align: center;
	}
	.grid1, .grid8  {
		grid-column-start: 1;
		grid-column-end: 5;
		padding:2em;
	}
	.grid2, .grid5{
		grid-row : 2 / 4;
	}
	.grid5{
		grid-column : 4 / 4;
	}

	#prochainement{
		background-color: rgb(87,156,135);
		width: 300px;
		padding: 15px;
		border-radius:15px;
  		margin-top: -25px;
	}  
	img{
		max-width: 100%;
		max-height: auto;
	}
	 /*for menu-page */
	
	.mention-legales{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 20%;
		margin-right: 20%;
		text-align: justify;
	}

	li{
		list-style-type:none;
		margin-left: 2em;
	}

	
	#container-p1-menu1{
		display: flex;
  		border-radius: 10px;
  		flex-direction: column;
  		align-items: center;
  		background-color:rgb(252, 223, 219);
  		width: 75vw;
  		text-align: center;
  		justify-content: center;
  		margin:auto;
  		margin-top: 2em;
  		margin-bottom: 10em;
  		padding-top:3em;
  		padding-bottom: 3em;
	}

	.menu-title{
		text-align: center;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 40vw;
	}
		
	.menu-title1{
		font-family: 'Zhi Mang Xing', cursive;
		text-align: center;
		font-size: 4.3vw;
		background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		width: 100%;
	}
	.menu-items{
		font-family: 'Titillium Web', sans-serif;
		margin-bottom: 3em;

		
	}
	.dunno2{

	}
	.menu-course{
		text-align: center;
		font-size:4vw;
		font-weight: bold;
		display: flex;
		justify-content: space-between;

	}

	.lines-left{
		width:14vw;
		float: left;
	}

	.lines-right{
		width: 14vw;
		float: right;
	}

	.menu-list{
		font-size: 2.5vw;
		text-align: left;
	}
	.price{
		float: right;
		margin-right: 2.5vw;
		font-weight: bold;
	}

	ul{
		margin-left: -3em;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	.container{
		display: grid;
		grid-template-columns: auto 28% 28% auto;
    	grid-template-rows:  auto;
    	margin-bottom: 3.5em;
    	margin-top: -3.5em;
  		border-radius: 10px;
  		grid-row-gap: 65px;
  		grid-column-gap:65px;
  		justify-items: center;
	}
	
	.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8{
		  text-align: center;
	}
	.grid1, .grid8  {
		grid-column-start: 1;
		grid-column-end: 5;
		padding:2em;
	}
	.grid2, .grid5{
		grid-row : 2 / 4;
	}
	.grid5{
		grid-column : 4 / 4;
	}
	#prochainement{
		background-color: rgb(87,156,135);
		width: 350px;
		padding: 15px;
		border-radius:15px;
  		margin-top: -1.5em;
  		margin-bottom: 3.5em;
	}  
	img{
		width: 100%;
		height: auto;
		/*to check the height??*/
	}

	 /*for menu-page */
	
	.mention-legales{
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 20%;
		margin-right: 20%;
		text-align: justify;
	}

	li{
		list-style-type:none;
		margin-left: 2em;
	}

	
	
	#container-p1-menu1{
		display: flex;
  		border-radius: 10px;
  		flex-direction: column;
  		align-items: center;
  		background-color:rgb(252, 223, 219);
  		width: 55vw;
  		text-align: center;
  		justify-content: center;
  		margin:auto;
  		margin-top: 2em;
  		margin-bottom: 10em;
  		padding-top:3em;
  		padding-bottom: 3em;
	}

	.menu-title{
		text-align: center;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-width: 50vw;
	}
		
	.menu-title1{
		font-family: 'Zhi Mang Xing', cursive;
		text-align: center;
		font-size: 3.6vw;
		background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		width: 100%;
	}
	.menu-items{
		font-family: 'Titillium Web', sans-serif;
		margin-bottom: 3em;
	}
	.menu-course{
		text-align: center;
		font-size:2.3vw;
		font-weight: bold;
		display: flex;
		justify-content: space-between;
	}

	.lines-left{
		width:10vw;
		float: left;
	}

	.lines-right{
		width: 10vw;
		float: right;
	}

	.menu-list{
		font-size: 2vw;
		text-align: left;

	}
	.price{
		float: right;
		font-weight: bold;
	}

	ul{
		margin-left: -6vw;
	}
}